.col-2 {
  box-sizing: border-box;
  display: block;
  width: 1200px;
}

.col-2_center {
  margin: 0 auto;
}

.col-1 {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  width: 600px;
}

.page-service__items {
  margin-top: 92px;
}