.pictures {
  /* For .pictures__picture_offset */
  position: relative;
}

.pictures__picture {
  padding-left: 24px;
}

.pictures__picture:first-of-type {
  padding-left: 0px;
}

.pictures__picture_offset {
  position: relative;
  bottom: 10px;
  right: 10px;
  box-shadow: 10px 10px 0px #95e1d3;
}